# This is a standard pFind configure file
# For help: mail to chihao@ict.ac.cn
# Time: 2021/2/19 16:24:49

[Version]
pFind_Version=EVA.3.0.11

[param]
thread=3
activation_type=HCD-FTMS
mstol=20
mstolppm=1
msmstol=20
msmstolppm=1
temppepnum=100
pepnum=10
selectpeak=200
maxprolen=60000000
maxspec=100000
IeqL=1
npep=2
maxdelta=500
selectmod=
fixmod=
maxmod=3
enzyme=Trypsin KR _ C
digest=3
max_clv_sites=3

[filter]
psm_fdr=0.01
psm_fdr_type=1
mass_lower=600
mass_upper=10000
len_lower=6
len_upper=100
pep_per_pro=1
pro_fdr=0.01

[engine]
open=1
open_tag_len=5

rest_tag_iteration=1
rest_tag_len=4
rest_mod_num=10

salvo_iteration=1
salvo_mod_num=5

[file]
modpath=D:\pFindStudio\pFind3\bin\modification.ini
fastapath=R:\work\SAPproject\Data\EAS_0.001\merge.refdb.customic_con.fasta
outputpath=D:\pFindWorkspace\pFindTask2\result\
outputname=pFindTask2

[datalist]
msmsnum=1
msmspath1=R:\work\SAPproject\old_data_from_FL\Raw\161221A_88M_HCDFT.pf2
msmstype=PF2

[quant]
quant=1|None

[system]
log=LOG_INFO
