# This is a standard pParse configure file
# For help: mail to wulong@ict.ac.cn
# Time: 2021/2/19 16:24:49

[Basic Options]
datanum=1
datapath1=R:\work\SAPproject\old_data_from_FL\Raw\161221A_88M.raw

[Advanced Options]
co-elute=1
# 0, output single precursor for single scan;
# 1, output all co-eluted precursors.
input_format=raw
# raw / ms1 /mgf
isolation_width=2
# 2 / 2.5 / 3 / 4
mars_threshold=-0.5
ipv_file=.\IPV.txt
trainingset=.\TrainingSet.txt

[Internal Switches]
output_mars_y=0
delete_msn=0
output_mgf=1
output_pf=1
debug_mode=0
check_activationcenter=1
output_all_mars_y=0
rewrite_files=0
export_unchecked_mono=0
cut_similiar_mono=1
mars_model=4
output_trainingdata=0

########################################
[About pXtract]
m/z=5
Intensity=1
